<%= link_to "CMSã¸", :controller => :descs, :action => :index%>
<h1>PostBlogs#index</h1>

<%= form_tag({:action => :post}, {:multipart => true}) do %>
<ul>
  <li>
    <%= label_tag :star %>
    <%= select_tag(:star, options_for_select(@stars) ) %>
    <%= label_tag :shop_name %>
    <%= text_field_tag(:shop_name, nil) %>
  </li>
</ul>

<ul>
  <li>
    <%= label_tag :comment %>
    <%= text_field_tag :comment, nil %>
  </li>
  <li>
    <%= label_tag :images %>
    <%= file_field_tag :images %>
  </li>
</ul>


  <%= submit_tag %>
<% end %>
</ul>