<h1>PostBlogs#index</h1>
<p>Find me in app/views/post_blogs/index.html.erb</p>

<%= form_tag :action => :post do %>
  <%= label_tag :star %>
  <%= select_tag(:star, options_for_select(@stars) ) %>

  <%= label_tag :images %>
  <%= file_field_tag :images %>

  <%= submit_tag %>
<% end %>