<%= link_to "CMSへ", :controller => :descs, :action => :index%>
<h1>PostBlogs#index</h1>

<%= form_tag({:action => :post}, {:multipart => true}) do %>
<ul>
  <li>
    <%= label_tag "何つ星？" %>
    <%= select_tag(:star, options_for_select(@stars) ) %>
    <%= label_tag "店の名前" %>
    <%= text_field_tag(:shop_name, nil) %>
    <%= label_tag "食ったもの" %>
    <%= text_field_tag(:menu_name, nil) %>
  </li>
</ul>

<ul>
  <li>
    <%= label_tag :comment %>
    <%= text_field_tag :comment, nil %>
  </li>
  <li>
    <h3>画像をアップする。アップしないとエラーになる。</h3>
    <%= label_tag :images %>
    <%= file_field_tag :images %>
  </li>
</ul>


  <%= submit_tag %>
<% end %>
</ul>